/* Text presets */
@use 'sass:list';
@use 'variables' as *;

/* Typography utility */
@mixin text($font-family, $font-size, $font-weight, $line-height, $letter-spacing) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

/* Text presets */

/* Transitions */
@mixin transition($properties...) {
  $transitions: ();

  @each $prop in $properties {
    @if $prop == display {
      $transitions: list.append($transitions, $prop $transition-duration allow-discrete, comma);
    } @else {
      $transitions: list.append($transitions, $prop $transition-duration $transition-easing, comma);
    }
  }

  transition: $transitions;
}
